[Desktop Entry]
Name=DC_gui
Comment=Direct Connect client (dctc) GUI
Comment[pl]=Graficzny interfejs użytkownika do dctc (Direct Connect)
Icon=dc_gui.png
Exec=dc_gui
Terminal=0
Type=Application
# vi: encoding=utf-8
